<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Home{% endblock %}</title>
    <link rel="stylesheet" href="/static/Navbar.css">
    <link rel="stylesheet" href="/static/style.css">
    
</head>
<body>
    <div class="App">
        <div className='nav'>
            <h2> DeliverEase</h2>
        <div className='nav_right'>
            <ul>
                <li><Link to="/">Home</Link></li>
                <li><Link to="/about">About Us</Link></li>
            </ul>
            <button class="btn"> My order</button>
            <button class="btn">Order Request</button>
        </div>
         </div>
    </div>
    
</body>
</html>