<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Home{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/sellerNavbar.css">
    
    {% block head %}{% endblock %}
   
</head>
<body>
    <div class="App">
      <!-- <header class="header"> 
        <h1>DeliverEase</h1>
          <nav class="navbar">
            
              <div class="nav_right">
                <ul class="nav_link">
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About Us</a></li>
                </ul>
                
                <button class="btn btn_m">My order</button>
                <button class="btn btn_m">Order Request</button>
              
              </div>
            
            </nav>
            <div class="mobile_navbar_btn">
              <ion-icon class="mobile_nav_icon" name="menu"></ion-icon>
              <ion-icon class="mobile_nav_icon" name="close"></ion-icon>
            </div>
        </header> -->

         <nav> 
          <div class='navbar'>
              <h1> DeliverEase</h1>
                  <div class='nav_right'>
                      <ul class="nav_link">
                          <li><a href="/">Home</a></li>
                          <li><a href="/about">About Us</a></li>
                      </ul>
                      <button class="btn"> My order</button>
                      <button class="btn">Order Request</button>
                  </div>
          </div> 
        </nav> 
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
    {% block content %}
    <center>
        <h1>Welcome to Crypto Tracker</h1>
    </center>
    <h2>
      <a href="/login">Login</a><br>
      <a href="/register">Register</a>
    </h2>
    {% endblock %}
    </div>
    <script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
  ></script>

  <script>
      // creating a responsive navbar

      const mobile_nav = document.querySelector(".mobile_navbar_btn");
      const headerEle = document.querySelector(".header");

      mobile_nav.addEventListener('click', () =>{
          console.log("clicked");
          headerEle.classList.toggle('active');
      })
  </script>
</body>
</html>